nav {
  display: none;
}

section {
  padding: 5em 2em;
}

#home {
  position: relative;
}

@media (min-width: 640px) {
  #home {
    display: grid;
  }
}

.section-title {
margin-bottom: .25em;
}

.section-title_intro {
  font-weight: var(--fw-reg);
}

.section-title_intro strong {
  display: block;
  font-weight: var(--fw-bold);
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle_accent {
  background-color: var(--cl-accent);
  color: var(--cl-light);
  font-family: var(--ff-code);
  margin-bottom: 1em;
}

.logo > img {
  object-fit: cover;
  height: 60px;
  border-radius: 50%;
}

/* #home > img {
  height: 100px;
}

#aboutme > img {
  height: 100px;
} */
